<mat-card class="example-card mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>Sync Validation Example</mat-card-title>
    <mat-card-subtitle>Comment input is required only if both checkbox are checked</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <form [formGroup]="form" class="w-50">
        <mat-checkbox class="example-checkbox" formControlName="checkbox1">checkbox1</mat-checkbox>
        <mat-checkbox class="example-checkbox" formControlName="checkbox2">checkbox2</mat-checkbox>
        <mat-checkbox class="example-checkbox" formControlName="longEnable">longEnable</mat-checkbox>
        <mat-form-field appearance="legacy" class="example-full-width">
          <mat-label>comment</mat-label>
          <input [errorStateMatcher]="matcher" formControlName="comment" matInput placeholder="Leave a comment">
          <mat-error *ngIf="hasError('required')">
            Comment is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="hasError('commentToLong')">
            Comment is <b>longer</b> than 'No longer' field
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="example-full-width">
          <mat-label>No longer</mat-label>
          <input formControlName="long" matInput placeholder="Type something">
          <mat-hint>the 'comment' field can't be longer than me but only if 'longEnable' checkbox is checked
          </mat-hint>
        </mat-form-field>

      </form>
      <div class="flex vertical w-50">
        <mat-card class="mat-elevation-z3">
          <mat-card-header>
            <mat-card-title><code>form.errors</code></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <pre><code [highlight]="form.errors | json"></code></pre>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-title><code>form.get('comment').errors</code></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <pre><code [highlight]="form.get('comment').errors | json"></code></pre>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="divider">
      <mat-divider [inset]="true"></mat-divider>
    </div>

    <div (gistLoad)="gist = $event" class="hljs" gist="d49e4fa14e024946a6a2a7c17b80d6f8">
      <mat-tab-group dynamicHeight>
        <mat-tab *ngFor="let file of gist?.files | keyvalue" [label]="file.value.filename">
            <pre>
              <code [highlight]="gist | gistFile: file.key"></code>
            </pre>
        </mat-tab>
      </mat-tab-group>
      <mat-divider [inset]="true"></mat-divider>
      <a [href]="gist?.html_url" class="gist-url" target="_blank">
        <span class="git-icon">Open gist on Github</span>
        <fa-icon [icon]="github" class="fa-2x"></fa-icon>
      </a>
    </div>

  </mat-card-content>
</mat-card>
